<!DOCTYPE html>

<!--
 This file is part of the KephaJS project.

 (c) Grégoire OLIVEIRA SILVA

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
-->

<html>
  <head>
    <meta charset="utf-8" />
    <title>KephaJS Démo</title>
    <style>
      .visually-hidden {
        display: none !important ;
      }
    </style>
  </head>

  <body kjs-app="myExampleApp">

    <h1>Hello world!</h1>

    <div kjs-controller="ExampleController as ctrl">
      <p>
        {{ctrl.counter}}
        <button kjs-click="ctrl.increment()">+</button>
        <button kjs-click="ctrl.decrement()">-</button>
      </p>
      <p>
        Show = {{ctrl.foobar}} et Hide = {{ctrl.foobar}}
      </p>
      <p kjs-show="{{ctrl.foobar}}">Un paragraphe toujours caché</p>
      <p kjs-hide="{{ctrl.foobar}}">
        Un paragraphe toujours affiché, car la valeur de son attribut est une
        expression qui n'est interprétée qu'une seule fois
      </p>
      <p kjs-show="ctrl.foobar" style="text-align:center">
        Affiché uniquement si Show = true</p>
      <p kjs-hide="ctrl.foobar">Affiché uniquement si Hide = false</p>
      <button kjs-click="ctrl.toogle()">Toogle</button>
    </div>

    <script src="../../dist/kephajs.js"></script>
    <script src="./app.js"></script>
  </body>
</html>

